.course-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  
  /* border: 1px solid #ddd; */
  border-radius: 0px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.course-image {
  width: 100%;
  
  object-fit:fill;
  height: 95%;
  border-radius: 8px 0 0 8px;
}

.course-details {
  padding: 15px;
}

.course-title {
  margin: 0;
  font-size: 1.5em;
  margin-right: 450px;
  color: #000000;
}

.course-description {
  margin-top: 10px;
  color: #000000;
}

.enroll-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;
  
  /* font-size: 1em; */
  transition: background-color 0.3s ease;
}

.enroll-button1 {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 200px;
  margin-top: 50px;
 
  /* font-size: 1em; */
  transition: background-color 0.3s ease;
}
.enroll-button:hover {
  background-color: #45a049;
}
